player-connection-mode=Listen
player-connection-guid=3282229597
player-connection-debug=0
player-connection-project-name=muti test
player-connection-ip=192.168.1.103
player-connection-ip=26.14.171.42
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2e9ac6948ead4acf986c1121336281ec
